
header {
    height:65vh;
    min-height:400px;
    background-size:cover;
    background: url('img/back2.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 71.9125px;
}

.mem{
    
    border-radius: 15px 5px 10px ;
    transition: 0.5 all;
}
.mem:hover{
    border-radius: 30px 60px 50px ;
    transform: scale(1.1);
}
.text-logo{
    font-weight: bolder;
}
#About-head{
    margin-top: 250px;
    left: 0;
}

.footer{
    background-color: rgba(1, 1, 10, 0.901);
    color: white !important;
}
.bar-menu{
    cursor: pointer;
    transition: 0.5 s ease;
}
.bar-menu:hover{
    color: red !important;
}
.footer-rights{
    background-color: black ;
    color: white;
    padding-top: 10px;
}
@media only screen and (max-width: 376px){
    tr{
        font-size: 8px;
    }
}
@media only screen and (max-width: 415px){
    tr{
        font-size: 8px;
    }
}

@media only screen and (max-width: 768px){
    .video{
        display: none;
    }
}
#About-head p{
    transition: 0.5 all ease;
    cursor: pointer;
}
#About-head h1{
    transition: 0.5 all ease;
    cursor: pointer;
}
#About-head h1:hover{
    color: red !important;
}