
.logo{
    width: 50px;
}
.mem{
    
    border-radius: 15px 5px 10px ;
    transition: 0.5 all;
}
.mem:hover{
    border-radius: 30px 60px 50px ;
    transform: scale(1.1);
}
.text-logo{
    font-weight: bolder;
}
.learn{
    border: white 2px solid !important;
    transition: 0.5 s all;
    text-transform: uppercase;
}
.learn:hover{
    background-color: white !important;
    color: red !important;
    border: red 2px solid !important;
    box-shadow: 5px 10px 5px gray ;
}

@media only screen and (max-width: 376px) {
    .logo-name{
        font-size: 10px;
    }
    .text-logo{
        font-size: 15px;
        font-weight: bolder;
    }
    .navbar{
        background-color: #ffffff60 !important;
      
      
    }
    .back-image img{
        width: 100%;
        height: 80vh;
    }
    .info{
        margin-top: 20%;
    }
    .info h1{
        font-size: 10px;
    }
    .info p{
        font-size: 10px;
    }
    .tour{
        font-size: 10px;
    }
    
}
@media only screen and (max-width: 415px) {
    .logo-name{
        font-size: 10px;
    }
    .text-logo{
        font-size: 15px;
        font-weight: bolder;
    }
    .navbar{
        background-color: #ffffff60 !important;
      
      
    }
    .back-image img{
        width: 100%;
        height: 80vh;
    }
    .info{
        margin-top: 20%;
    }
    .info h1{
        font-size: 10px;
    }
    .info p{
        font-size: 10px;
    }
    .tour{
        font-size: 10px;
    }
    
}

.footer{
    background-color: rgba(1, 1, 10, 0.901);
    color: white !important;
}
.bar-menu{
    cursor: pointer;
    transition: 0.5 s ease;
}
.bar-menu:hover{
    color: red !important;
}
.footer-rights{
    background-color: black ;
    color: white;
    padding-top: 10px;
}
